*{
    margin : 0; 
    padding : 0; 
    font-family: "Trebuchet MS", sans-serif;
}

.header {
    min-height : 100vh; 
    width : 100%; 
    background-image: url(images/goal16bg.jpeg);
    background-position: center; 
    background-size: cover; 
    position : relative; 
    font-family: "Trebuchet MS", sans-serif;
}

nav{
    display : flex; 
    height : 90px;
    justify-content : space-between; 
    background-color : rgb(30, 48, 106);
    align-items : center;
    padding : 2% 6%; 
}

nav img{
    width : 100px;
}

.navlinks ul li{
    flex : 1; 
    text-align: right; 
    list-style: none; 
    padding : 4px;
    display: inline-block; 
    position : relative; 
}

.navlinks ul li a{
    color : rgb(255, 255, 255);
    font-size: 18px; 
    text-decoration : none; 
}

.navlinks ul li a:hover{
    color: rgb(135,206,250);
}

.title {
    position : absolute; 
    top : 50%; 
    left : 50%; 
    width : 90%; 
    transform : translate(-50%, -50%);
    color : rgb(30, 48, 106);
    text-align : center; 
    font-family : "Trebuchet MS", sans-serif;
}

.title h1{
    font-size: 62px;
}

.title h3{
    font-size : 30px; 
}

.wig16{
    width : 80%; 
    margin : auto; 
    padding-top: 100px; 
}

.wig16 h3{ 
    font-size : 55px; 
    text-align : center; 
}


.wig16 img {
    margin : 3em; 
    width : 250px; 
    float : right;
}

.wig16 h1{
    margin-top: 2.5em;
}

.wig16 p{
    margin : 1em; 
}


.img16 {
    margin-top: 10em; 
    min-height : 50vh; 
    width : 100%; 
    background-image: url(images/goal16bg2.jpeg);
    background-position: center; 
    background-size: cover; 
    position : relative; 
    font-family: "Trebuchet MS", sans-serif;
}

.img16 img{
    width : 250px; 
    margin-top: 5em; 
    float: left;
    margin-left: 10em;
    align-items: center; 
}

.pj.ps.ps2{ 
    position : relative; 
 }

footer{
    align-items: center;
    display : flex; 
    height : 90px;
    justify-content : space-between; 
    background-color : rgb(30, 48, 106);
    align-items : center;
    padding : 2% 6%; 
    color : rgb(255, 255, 255);
}

iframe {
    margin-top: 10em;
    margin-left: 10em;
    text-align: center; 
    display : block;
}

.sprite {
	background: url('images/pdsprite.jpeg');
	width: 115.75px;
	height: 109px;
    animation : varName 1s steps(4) infinite; 
}

@keyframes varName{
    from{background-position-x:0px;}
    to{background-position-x:-463px;}
    }
