*{
    margin : 0; 
    padding : 0; 
    font-family: "Grill Sans", sans-serif;
}

header {
    min-height : 100vh; 
    width : 100%; 
    background-image: url(images/background.jpeg);
    background-position: center; 
    background-size: cover; 
    position : relative; 
    font-family: "Grill Sans", sans-serif;
}

p{
    background-size: contain;
}

nav{
    display : flex; 
    height : 90px;
    justify-content : space-between; 
    background-color : rgb(58, 86, 179);
    align-items : center;
    padding : 2% 6%; 
}

nav img{
    width : 100px;
}

.navlinks ul li{
    flex : 1; 
    text-align: right; 
    list-style: none; 
    padding : 4px;
    display: inline-block; 
    position : relative; 
}

.navlinks ul li a{
    color : rgb(255, 255, 255);
    font-size: 18px; 
    text-decoration : none; 
}

.navlinks ul li a:hover{
    color: rgb(135,206,250);
}

.title {
    position : absolute; 
    top : 50%; 
    left : 50%; 
    width : 90%; 
    transform : translate(-50%, -50%);
    color : rgb(255, 255, 255);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(141, 110, 255);
    text-align : center; 
    font-family : "Grill Sans", sans-serif;
}

.title h1{
    font-size: 62px;
}

.title h2{
    font-size : 40px; 
}

/*---mag---*/

.mag{
    width : 80%; 
    margin : auto; 
    padding-top: 100px; 
}

.mag h3{
    font-size : 55px; 
    text-align : center; 
}

.mag img {
    margin : 3em; 
    width : 250px; 
    float : left;
}

article p{
    margin : 3em; 
}

/*---row---*/

.rows p{
    font-size: 14px; 
    font-weight : 300; 
    line-height : 22px; 
    padding: 10px; 
}
.rows{
    margin-top: 10%; 
    display : flex; 
    justify-content: space-between;
    align-items: center; 
}

.OS {
    background:  rgb(240, 255, 255);
    margin-bottom : 5%; 
    padding : 20px 12px; 
    box-sizing: border-box;
    align-items: center; 
}

/*---Targets---*/

.Targets {
    margin-left : 5em;
    margin-top: 7.5em; 
}

.Targets img {
    display: flex;
    float:left;
    width : 400px; 
    transform : scaleX(0.8);
}

.Targets h4{
    margin : 0.8em; 
    font-size: 11.5px;
}

/*---More CSS---*/

p::first-letter{
    color : rgb(78, 55, 162);
    font-size: 30px; 
}

h3:hover {
    font-size:400%;
    color: rgb(143, 179, 255);
}

img[attribute="map"]{
    border : 2px solid rgb(185, 228, 255);
}

img:hover[attribute="map"]{
    width : 500px;
    transition-timing-function : ease-in-out;
    transition-duration: 5s; 
}

footer{
    align-items: center;
    margin-top: 10em;
    display : flex; 
    height : 90px;
    justify-content : space-between; 
    background-color : rgb(58, 86, 179);
    align-items : center;
    padding : 2% 6%; 
    color : rgb(255, 255, 255);
}
